<!-- templates/edit_timbangan.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Edit Timbangan</title>
</head>
<body>
    <h1>Edit Timbangan</h1>
    <form method="post">
        {% csrf_token %}
        <label for="Nama">Nama:</label>
        <input type="text" name="Nama" value="{{ timbangan.Nama }}" required><br>

        <label for="Alamat">Alamat:</label>
        <input type="text" name="Alamat" value="{{ timbangan.Alamat }}" required><br>

        <label for="TipeSampah">Tipe Sampah:</label>
        <select name="TipeSampah" id="TipeSampah" required>
            <option value="Tipe A" {% if timbangan.TipeSampah == 'Tipe A' %}selected{% endif %}>Tipe A</option>
            <option value="Tipe B" {% if timbangan.TipeSampah == 'Tipe B' %}selected{% endif %}>Tipe B</option>
            <option value="Tipe C" {% if timbangan.TipeSampah == 'Tipe C' %}selected{% endif %}>Tipe C</option>
            <option value="Tipe D" {% if timbangan.TipeSampah == 'Tipe D' %}selected{% endif %}>Tipe D</option>
        </select><br>

        <label for="JumlahKilo">Jumlah Kilo:</label>
        <input type="text" name="JumlahKilo" value="{{ timbangan.JumlahKilo }}" required><br>

        <input type="submit" value="Simpan">
    </form>
</body>
</html>
